/* #main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
} */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&display=swap");

@media screen and (min-width: 601px) {
  h1 {
    font-family: "Oswald", sans-serif;
    font-size: 56px;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 1200;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 1200;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 9px;
  }
}

body {
  text-align: center;
}

.main-container {
  /* width: 960px; */
  position: absolute;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.full-row {
  margin: auto;
  margin-top: 20px;
  margin-top: 20px;
  width: 100%;
}
.half-row {
  text-align: center;
  margin-top: 20px;
  margin-top: 20px;
  width: 100%;
}
.three-row {
  text-align: center;
  margin-top: 20px;
  margin-top: 20px;
  width: 100%;
}

.half-item {
  margin: auto;
  display: inline-block;
  width: 49%;
  vertical-align: middle;
}

.three-item {
  margin: auto;
  display: inline-block;
  width: 32%;
  vertical-align: middle;
}
.three-img {
  margin: auto;
  display: inline-block;
  width: 95%;
  vertical-align: middle;
}

@media screen and (min-width: 601px) {
  #quote-img {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  #quote-img {
    width: 10%;
  }
}

/*********************** Carousel ***********************/

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-wrapper * {
  box-sizing: border-box;
}
.carousel {
  transform-style: preserve-3d;
}

@media screen and (min-width: 601px) {
  .carousel__photo {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
  }
}
@media screen and (max-width: 600px) {
  .carousel__photo {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 1rem 1.1rem;
    z-index: 100;
    transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
  }
}

.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}
.carousel__photo.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel__photo.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

@media screen and (min-width: 601px) {
  .carousel__button--prev,
  .carousel__button--next {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001; /* Sit on top of everything */
    border: 1px solid black;
  }
}

@media screen and (max-width: 600px) {
  .carousel__button--prev,
  .carousel__button--next {
    position: absolute;
    top: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001; /* Sit on top of everything */
    border: 1px solid black;
  }
}

.carousel__button--prev {
  left: 0;
}
.carousel__button--next {
  right: 0;
}

@media screen and (min-width: 601px) {
  .carousel__button--prev::after,
  .carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
  }
}

@media screen and (max-width: 600px) {
  .carousel__button--prev::after,
  .carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
  }
}
.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
